<h1>Our Instructors</h1>
<p>{{message}}</p>

<!-- New Instructor Button -->
<button class="btn btn-primary mb-3" routerLink="/createinstructor">
    New Instructor
  </button>
  <!--Container for get all instructors-->
<div class="container responsive-grid">
    @for (u of instructors; track u._id)
    {
      <mat-card>
        <mat-card-header>Details</mat-card-header>
        <mat-card-content>
      <p>Name : {{u.name}} </p>
      <p>Email : {{u.email}}</p>
      <p>id : {{u._id}}</p>
    <mat-card-actions>
    <a mat-raised-button color="primary"
    [routerLink] = "['/instructors',u._id]">VIEW DETAILS</a>
  </mat-card-actions>
</mat-card-content>
</mat-card>
  }
</div>
