<h1>Add A New Class Location To The Studio</h1>

<form [formGroup]="createClassLocationForm" (ngSubmit)="onSubmit()">
    <!--Name-->
    <div>
        <label for="name">Name</label>
        <input id="name" type="text" formControlName="name">
    </div>
    <!--MaxCapacity-->
    <div>
        <label for="maxCapacity">Max Capacity</label>
        <input id="maxCapacity" type="number" formControlName="maxCapacity">
    </div>
    <!--Location-->
    <div>
        <label for="location">Location</label>
        <input id="location" type="text" formControlName="location">
    </div>
    <!--Class Format-->
    <div formArrayName="classFormats">
        <h3>Class Formats</h3>
        <div>
            @for(formatControl of classFormatsArray.controls; track formatControl; let i=$index){
                <label for="classFormats-{{i}}">Select Class Format</label>
                <select id="classFormats-{{i}}" [formControlName]="i">
                    @for(classFormat of classFormats; track classFormat){
                        <option [value]="classFormat">{{classFormat}}</option>
                    }
                </select>
                <button type="button" (click)="removeClassFormat(i)">Remove</button>
            }
        </div>
    </div>
    <button type="button" (click)="addClassFormat()">Add Class Format</button>
    <button type="submit">Create</button>
</form>
