<h1>Add A New Class Location To The Studio</h1>

<form [formGroup]="createClassLocationForm" (ngSubmit)="onSubmit()">
  <!--Name Form Field-->
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Name: </mat-label>
    <input id="name" type="text" matInput formControlName="name">
  </mat-form-field>
    <!--MaxCapacity Form Field-->
    <mat-form-field  appearance="outline" class="full-width">
        <mat-label>Max Capacity: </mat-label>
        <input matInput id="maxCapacity" type="number" formControlName="maxCapacity">
    </mat-form-field>
      <!--Location Form Field-->
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Location: </mat-label>
    <input id="location" type="text" matInput formControlName="location">
  </mat-form-field>

    <!--Class Format Section-->
    <legend>Class formats</legend>
    <div formArrayName="classFormats">
        @for (formatControl of classFormatsArray.controls; let i = $index; track formatControl) {
            <fieldset [formGroupName]="i">
              <legend>Class Format {{ i + 1 }}</legend>
              
              <!-- Class Format Dropdown -->
              <mat-form-field appearance="outline" class="small-width">
                <mat-label>Class Format</mat-label>
                <mat-select [formControl]="formatControl">
                  @for (classFormat of classFormats; track classFormat) {
                    <mat-option [value]="classFormat">{{ classFormat }}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
    
              <!-- Remove Yoga Speciality Button -->
              <button mat-raised-button color="warn" type="button" (click)="removeClassFormat(i)">
                Remove
              </button>
            </fieldset>
          }
    </div>
    <div>
        <button mat-raised-button color="primary" type="button" (click)="addClassFormat()">Add Class Format</button>
        <button  mat-raised-button color="accent" type="submit">Create</button>
    </div>
</form>
