.mat-mdc-form-field{
    width: 35%;
    margin-left:2%;
    margin-right:63%;
    }

fieldset {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 16px;
    padding: 16px;
    border: 1px solid #ccc;
    }
    
button {
margin-left: 2%;
margin-top: 1%;
}

h1{
    margin-top: 1%;
    margin-bottom: 0.5%;
    margin-left: 1.5%;
}
legend{
    margin-left: 2%;
}
.success-message {
    color: green;
    font-size: 1.1rem;
    font-weight: bold;
    margin: 20px;
    text-align: center;
  }