<h1>Add A New Instructor To The Studio</h1>
<!-- Success message -->
@if (successMessage) {
  <p class="success-message">{{ successMessage }}</p>
}

<div class="form-wrapper">
  <form [formGroup]="createInstructorForm" (ngSubmit)="onSubmit()" >
    <!--Name Form Field-->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Name: </mat-label>
      <input id="name" type="text" matInput formControlName="name">
      @if(!name?.value){
          <mat-hint>Must be at least 3 chars</mat-hint> 
      }
      @if (name?.hasError('required') ){
          <mat-error>Name is required </mat-error>
      }
      @else if (name?.hasError('minlength')) {
          <mat-error>Name Must be at least 3 chars </mat-error>
      }
  
    </mat-form-field>
    
    <!--Email Form Field-->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Email: </mat-label>
      <input id="email" type="email" matInput formControlName="email">
      @if(!email?.value){
          <mat-hint>Must be a valid email address</mat-hint>
      }
      @if(email?.hasError('required')){
          <mat-error>Email is required</mat-error>
      }
      @else if (email?.hasError('email')) 
      {
          <mat-error>Email must be a valid email format</mat-error>
      }
    </mat-form-field>
  
    <!-- Password Form Field -->
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Password</mat-label>
    <input matInput type="password" formControlName="password" />
  
    <mat-hint>Min 8 chars, 1 uppercase, 1 number, 1 special character</mat-hint>
  
    @if (createInstructorForm.get('password')?.hasError('required')) {
      <mat-error>Password is required</mat-error>
    }
    @else if (createInstructorForm.get('password')?.hasError('minlength')) {
      <mat-error>Password must be at least 8 characters long</mat-error>
    }
    @else if (createInstructorForm.get('password')?.hasError('maxlength')) {
      <mat-error>Password must not exceed 64 characters</mat-error>
    }
    @else if (createInstructorForm.get('password')?.hasError('pattern')) {
      <mat-error>Password must contain an uppercase letter, a number, and a special character</mat-error>
    }
  </mat-form-field>
  
  
   <!-- Yoga Specialities Section -->
   <fieldset class="form-array-item">
      <legend>Yoga Specialities</legend>
       <!-- Section Validation Message -->
    @if (yogaSpecialitiesArray.invalid && !yogaSpecialitiesArray.touched) {
      <p class="error-message">At least one Yoga Speciality is required.</p>
    }
      <div formArrayName="yogaSpecialities">
        @for (specialityControl of yogaSpecialitiesArray.controls; let i = $index; track specialityControl) {
          <fieldset [formGroupName]="i">
            <legend>Yoga Speciality {{ i + 1 }}</legend>
            <!-- Speciality Dropdown -->
            <mat-form-field appearance="outline" class="small-width">
              <mat-label>Yoga Speciality</mat-label>
              <mat-select [formControl]="specialityControl">
                @for (speciality of yogaSpecialities; track speciality) {
                  <mat-option [value]="speciality">{{ speciality }}</mat-option>
                }
              </mat-select>
              @if (specialityControl?.hasError('required')) {
                  <mat-error>Speciality is required</mat-error>
                }
            </mat-form-field>
  
            <!-- Remove Yoga Speciality Button -->
            <button mat-raised-button color="warn" type="button" (click)="removeYogaSpeciality(i)">
              Remove
            </button>
          </fieldset>
        }
      </div>
      <button mat-raised-button color="primary" type="button" (click)="addYogaSpeciality()">Add Yoga Speciality</button>
    </fieldset>
    <!--Buttons-->
    <div>
      <button mat-raised-button color="accent" type="submit" [disabled]="createInstructorForm.invalid" >Create</button>
    </div>
  </form>
</div>

