<h1>Add A New Instructor To The Studio</h1>

<form [formGroup]="createInstructorForm" (ngSubmit)="onSubmit()">
  <!--Name Form Field-->
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Name</mat-label>
    <input id="name" type="text" matInput formControlName="name">
  </mat-form-field>
  
  <!--Email Form Field-->
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Email</mat-label>
    <input id="email" type="email" matInput formControlName="email">
  </mat-form-field>

 <!-- Yoga Specialities Section -->
 <fieldset>
    <legend>Yoga Specialities</legend>
    <div formArrayName="yogaSpecialities">
      @for (specialityControl of yogaSpecialitiesArray.controls; let i = $index; track specialityControl) {
        <fieldset [formGroupName]="i">
          <legend>Yoga Speciality {{ i + 1 }}</legend>
          
          <!-- Speciality Dropdown -->
          <mat-form-field appearance="outline" class="small-width">
            <mat-label>Yoga Speciality</mat-label>
            <mat-select [formControl]="specialityControl">
              @for (speciality of yogaSpecialities; track speciality) {
                <mat-option [value]="speciality">{{ speciality }}</mat-option>
              }
            </mat-select>
          </mat-form-field>

          <!-- Remove Yoga Speciality Button -->
          <button mat-raised-button color="warn" type="button" (click)="removeYogaSpeciality(i)">
            Remove
          </button>
        </fieldset>
      }
    </div>
  </fieldset>
  <!--Buttons-->
  <div class="actions">
    <button mat-raised-button color="primary" type="button" (click)="addYogaSpeciality()">Add Yoga Speciality</button>
    <button mat-raised-button color="accent" type="submit">Create</button>
  </div>
</form>
