<p>class works!</p>
<ol>
    @for (u of classes; track u.id){
        <li>
            Description : {{u.description}}
            InstructorID : {{u.instructorId}}
            Class Location ID : {{u.classLocationId}}
            Date : {{u.date}}
            Class start : {{u.startTime}}
            Class end : {{u.endTime }}
            Class Level : {{u.level}}
            Yoga Type : {{u.type}}
            Class Focus : {{u.category}}
            Class Format : {{u.classFormat}}
            Spaces Available : {{u.spacesAvailable}}
        </li>
    }
</ol>
