.navbar-custom {
  background-color: #f8f9fa;
  border-bottom: 1px solid #e7e7e7;
  padding: 10px 0;
}

.nav-link {
  color: #555555;
  font-size: 18px;
}

.nav-link:hover, .nav-item.active .nav-link {
  color: #0056b3;
}

.navbar-brand {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-title {
  display: flex;
  align-items: center;
}

.navbar-title h1 {
  font-size: 24px;
  margin-bottom: 0;
}

/* Hamburger icon visible on small screens */
.navbar-toggler {
  border: none;
  outline: none;
}

/* Style for the login section */
.navbar-login-section {
  display: flex;
  align-items: center;
  border-left: 1px solid #ccc; /* Add a vertical separator */
  padding-left: 15px; /* Add padding for spacing */
  margin-left: 15px; /* Space from the left navigation links */
}

.navbar-login-section .nav-link {
  color: #555;
}

.navbar-login-section .nav-link:hover {
  color: #007bff; /* Match the hover color with the rest of the nav */
}

/* Responsive Styling */
@media (max-width: 768px) {
  .navbar-login-section {
    border-left: none;
    padding-left: 0;
    margin-left: 0;
  }

  .navbar-login-section .nav-link {
    text-align: center;
    display: block;
  }
}
