<h1>Our Class Locations</h1>

<!-- New Class Location Button -->
<button class="btn btn-primary mb-3" routerLink="/createclasslocation">
    New Class Location
  </button>

 <!--Container for get all class locations-->
 <div class="container responsive-grid">
    @for (u of classLocations; track u._id)
    {
      <mat-card>
        <mat-card-header>Details</mat-card-header>
        <mat-card-content>
            <p> Name : {{u.name}} </p>
            <p>  Max Capacity : {{u.maxCapacity}}</p>
            <p> Location : {{u.location}}</p>
            <p> id : {{u._id}} </p>
    <mat-card-actions>
    <a mat-raised-button color="primary"
    [routerLink] = "['/classlocations',u._id]">VIEW DETAILS</a>
  </mat-card-actions>
</mat-card-content>
</mat-card>
  }
</div>

